<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxs.ditu.mapper.YbZuobiaoMapper">
    
    <resultMap type="YbZuobiao" id="YbZuobiaoResult">
        <result property="id"    column="id"    />
        <result property="zuobiao"    column="zuobiao"    />
        <result property="leibie"    column="leibie"    />
        <result property="zrenshu"    column="zrenshu"    />
        <result property="fuzeren"    column="fuzeren"    />
        <result property="hzhiyuan"    column="hzhiyuan"    />
        <result property="zzhiyuan"    column="zzhiyuan"    />
        <result property="status"    column="status"    />
        <result property="createdtime"    column="createdtime"    />
        <result property="userId"    column="user_id"    />
        <result property="nickName"    column="nick_name"    />
        <result property="kz1"    column="kz1"    />
        <result property="kz2"    column="kz2"    />
        <result property="kz3"    column="kz3"    />
    </resultMap>

    <sql id="selectYbZuobiaoVo">
        select id, zuobiao, leibie, zrenshu, fuzeren, hzhiyuan, zzhiyuan, status, createdtime, user_id, nick_name, kz1, kz2, kz3 from yb_zuobiao
    </sql>

    <select id="selectYbZuobiaoList" parameterType="YbZuobiao" resultMap="YbZuobiaoResult">
        <include refid="selectYbZuobiaoVo"/>
        <where>  
            <if test="zuobiao != null  and zuobiao != ''"> and zuobiao = #{zuobiao}</if>
            <if test="leibie != null  and leibie != ''"> and leibie like concat('%', #{leibie}, '%')</if>
            <if test="zrenshu != null  and zrenshu != ''"> and zrenshu = #{zrenshu}</if>
            <if test="fuzeren != null  and fuzeren != ''"> and fuzeren = #{fuzeren}</if>
            <if test="hzhiyuan != null  and hzhiyuan != ''"> and hzhiyuan = #{hzhiyuan}</if>
            <if test="zzhiyuan != null  and zzhiyuan != ''"> and zzhiyuan = #{zzhiyuan}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="params.beginCreatedtime != null and params.beginCreatedtime != '' and params.endCreatedtime != null and params.endCreatedtime != ''"> and createdtime between #{params.beginCreatedtime} and #{params.endCreatedtime}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="nickName != null  and nickName != ''"> and nick_name like concat('%', #{nickName}, '%')</if>
        </where>
    </select>
    
    <select id="selectYbZuobiaoById" parameterType="Long" resultMap="YbZuobiaoResult">
        <include refid="selectYbZuobiaoVo"/>
        where id = #{id}
    </select>

    <insert id="insertYbZuobiao" parameterType="YbZuobiao" useGeneratedKeys="true" keyProperty="id">
        insert into yb_zuobiao
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="zuobiao != null">zuobiao,</if>
            <if test="leibie != null">leibie,</if>
            <if test="zrenshu != null">zrenshu,</if>
            <if test="fuzeren != null">fuzeren,</if>
            <if test="hzhiyuan != null">hzhiyuan,</if>
            <if test="zzhiyuan != null">zzhiyuan,</if>
            <if test="status != null">status,</if>
            <if test="createdtime != null">createdtime,</if>
            <if test="userId != null">user_id,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="kz1 != null">kz1,</if>
            <if test="kz2 != null">kz2,</if>
            <if test="kz3 != null">kz3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="zuobiao != null">#{zuobiao},</if>
            <if test="leibie != null">#{leibie},</if>
            <if test="zrenshu != null">#{zrenshu},</if>
            <if test="fuzeren != null">#{fuzeren},</if>
            <if test="hzhiyuan != null">#{hzhiyuan},</if>
            <if test="zzhiyuan != null">#{zzhiyuan},</if>
            <if test="status != null">#{status},</if>
            <if test="createdtime != null">#{createdtime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="kz1 != null">#{kz1},</if>
            <if test="kz2 != null">#{kz2},</if>
            <if test="kz3 != null">#{kz3},</if>
         </trim>
    </insert>

    <update id="updateYbZuobiao" parameterType="YbZuobiao">
        update yb_zuobiao
        <trim prefix="SET" suffixOverrides=",">
            <if test="zuobiao != null">zuobiao = #{zuobiao},</if>
            <if test="leibie != null">leibie = #{leibie},</if>
            <if test="zrenshu != null">zrenshu = #{zrenshu},</if>
            <if test="fuzeren != null">fuzeren = #{fuzeren},</if>
            <if test="hzhiyuan != null">hzhiyuan = #{hzhiyuan},</if>
            <if test="zzhiyuan != null">zzhiyuan = #{zzhiyuan},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createdtime != null">createdtime = #{createdtime},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="kz1 != null">kz1 = #{kz1},</if>
            <if test="kz2 != null">kz2 = #{kz2},</if>
            <if test="kz3 != null">kz3 = #{kz3},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteYbZuobiaoById" parameterType="Long">
        delete from yb_zuobiao where id = #{id}
    </delete>

    <delete id="deleteYbZuobiaoByIds" parameterType="String">
        delete from yb_zuobiao where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>